{% load static %}
<!DOCTYPE html>
<html>

    <head>

        {% if post.title %}
            <title>{{ post.title }}</title>
        {% else %}
            <title>OBLOG</title>
        {% endif %}

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
        <script src="https://kit.fontawesome.com/60f5c9cb77.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
     <style>
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
         }
    </style>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-danger site-brand" href="{% url 'home' %}">OBLOG</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-black">
                            <a class="nav-link text-danger font-weight-bold" href="{% url 'blog-about' %}">About</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-danger font-weight-bold" href="#">Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item text-black ml-3">
                            <a class="btn btn-outline-danger font-weight-bold" href="{% url 'post-create' %}">Add post</a>
                        </li>
                        <li class="nav-item text-black ml-3">
                            <a class="btn btn-outline-danger font-weight-bold" href="{% url 'profile' user.profile.slug %}">Profile</a>
                        </li>
                        <li class="nav-item text-black ml-3">
                            <a class="btn btn-outline-danger font-weight-bold" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item text-black ml-3">
                            <a class="btn btn-outline-danger font-weight-bold" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item text-black ml-2">
                            <a class="btn btn-outline-danger font-weight-bold" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; 2020</p>
        </footer>



{% block scripts %}
{% endblock scripts %}

        
    </body>
</html>