{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}

<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                	<div class="content-section">
                		<form method="POST">
                			{% csrf_token %}
                			<fieldset class="form-group">
                				<legend class="text-danger h4 text-center">Reset Password</legend>
                				<hr>
                				{{ form|crispy }}
                			</fieldset>
                			<div class="form-group">
                				<button class="btn btn-outline-danger" type="submit" >Request Password Reset</button>
                			</div>
                		</form>
                	</div>
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}