{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-header text-center">
                    {% if profile.user == user %}
                    <h2 class="card-title">Welcome, {{ profile.user.username }}</h2>
                    <hr>
                    {% endif %}
                    <img src="{{ profile.user.profile.image.url }}" alt="" class="rounded-circle account-img mb-2" style="max-width: 30%; height: 180px; object-fit: cover;">
                    <h2 class="card-text">{{ profile.user.username }}</h2>
                    <p class="card-text text-muted">{{ profile.user.email }}</p>
                </div>
                {% if profile.user == user %}
                <div class="card-body text-center">
                    <a href="{% url 'profile_update' %}" class="btn btn-success btn-sm">Update</a>
                </div>
                {% endif %}
            </div>
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h2 class="card-title">About, {{ profile.user.username }}</h2>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, atque! Velit nam cumque enim! Adipisci quidem repellendus excepturi quibusdam! Enim cum assumenda id reprehenderit vitae, ratione repellendus blanditiis? Modi, vero.</p>
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}